<% include ../../../partials/header %>

<form id="form">
    <fieldset>
        <div class="form-group" data-group="title">
            <label class="col-sm-2 control-label required" for="title">Titel:</label>
            <div class="col-sm-10">
                <input class="form-control" name="title" id="title" value="">
            </div>
        </div>
        <div class="form-group" data-group="description">
            <label class="col-sm-2 control-label required" for="description">Beskrivelse:</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="description" id="description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <button type="button" id="formsubmit" class="btn btn-default">Gem</button>
        </div>
    </fieldset>
</form>

<script>

    const form = document.querySelector('#form');

    //Sætter klik event på formens Gem knap.
    document.getElementById('formsubmit').onclick = () => {
        //Sætter var til url
        const url = '/api/brands/';
        //Sætter fetch settings med PUT metode, headers og form data
        const fetchSettings = {
            method: 'POST',
            headers: new Headers({
                'Content-Type': 'application/json'
            }),
            body: JSON.stringify({
                title: form.title.value,
                description: form.description.value
            })
        }
        //Fetcher data til api og tjekker respons. Redirecter til details Hvis ok (200) 
        fetch(url, fetchSettings)
        .then(res => {
                // console.log(res);
            if(res.ok) {
                document.location.href = '/admin/brand/list';
            } else {
                console.log(res.statusText)
            }
        }).catch(err => {
            console.error(err);
        });
    }
    
    // const btn = document.createElement('a');
    // btn.setAttribute('class', 'btn btn-default');
    // btn.setAttribute('href', '/admin/brand/list');
    // btn.innerHTML = 'Oversigt';
    // document.getElementById('buttonpanel').appendChild(btn);

</script>

<% include ../../../partials/footer %>

