<% include ../../../partials/header %>

<div id="list"></div>

<script>

    const url = '/api/products/';

    fetch(url)
    .then(data => {
        if(!data.ok) {
            throw Error(data.statusText);
        } else {
            return data.json() 
        }
    })
    // .then(data => {
    .then(resData => {
        // console.log(resData);
        const data = resData.reverse();
        let html = `<table class="table">
                        <thead>
                            <tr>
                                <th width="15%">Handling</th>
                                <th>Titel</th>
                            </tr>
                        </thead>`;
        
        for(const item of data) {
            html += `<tr>
                        <td>
                            <a class="icon" href="/admin/product/update/${item.id}" title="Rediger">
                                <i class="fas fa-pencil-alt"></i></a>
                            <a class="icon" href="/admin/product/details/${item.id}" title="Se detaljer">
                                <i class="fas fa-info-circle"></i></a>
                            <a class="icon" href="/admin/product/delete/${item.id}" title="Slet">
                                <i class="fas fa-trash-alt"></i></a>
                        </td>
                        <td>${item.title}</td>
                    </tr>`;
        }

        html += '</table>';

        document.getElementById('list').innerHTML = html;
    })

    const btn = document.createElement('a');
    btn.setAttribute('class', 'btn btn-default');
    btn.setAttribute('href', '/admin/product/create');
    btn.innerHTML = 'Opret Nu';
    document.getElementById('buttonpanel').appendChild(btn);

</script>

<% include ../../../partials/footer %>

